<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eli.a3816final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrinkOne" />
        <activity android:name=".DrinkTwo"/>
        <activity android:name=".DrinkThree"/>
        <activity android:name=".DrinkFour"/>
        <activity android:name=".DrinkFive"/>
        <activity android:name=".DrinkSix"/>
        <activity android:name=".DrinkSeven"/>
        <activity android:name=".DrinkEight"/>
        <activity android:name=".DrinkNine"/>
        <activity android:name=".DrinkTen">
        </activity>
    </application>

</manifest>